In [1]:
import numpy as np
import pandas as pd

In [2]:
class LinearRegression(object):
    def __init__(self, fit_intercept=True, copy_X=True):
        self.fit_intercept = fit_intercept
        self.copy_X = copy_X
        
        self._coef = None
        self._intercept = None
        self._new_X = None
        
    def fit(self, X, y):
        self._new_X = np.array(X)
        y = y.reshape(-1, 1)
        if self.fit_intercept:
            intercept_vector = np.ones([self._new_X.shape[0], 1])
            self._new_X = np.concatenate(
                (intercept_vector, self._new_X), axis=1
            )
        weights = np.linalg.inv(self._new_X.T.dot(self._new_X)).dot(self._new_X.T.dot(y)).flatten()
        print(weights)

        if self.fit_intercept:
            self._intercept = weights[0]
            self._coef = weights[1]
        else: self._coef = weights[0]
        print(self._coef)

    def predict(self, X):
        if self.fit_intercept:
            return X*self._coef + self._intercept
        else: return X*self._coef

    @property
    def coef(self):
        return self._coef

    @property
    def intercept(self):
        return self._intercept

In [3]:
df = pd.read_csv('06_Linear Regression/test.csv')
df

      x          y
0    77  79.775152
1    21  23.177279
2    22  25.609262
3    20  17.857388
4    36  41.849864
..   ..        ...
295  71  68.545888
296  46  47.334876
297  55  54.090637
298  62  63.297171
299  47  52.459467

[300 rows x 2 columns]

In [4]:
X = df['x'].values.reshape(-1,1)
y = df['y'].values

In [5]:
lr = LinearRegression()

In [6]:
lr.fit(X, y)

[-0.46181077  1.01433536]
1.0143353551195156

In [7]:
lr._new_X.shape

(300, 2)

In [8]:
lr.fit_intercept

True

In [9]:
print(lr.predict(123))

124.30143790603944

In [10]:
X.shape
y.shape

(300,)

In [11]:
from sklearn import linear_model
sk_lr = linear_model.LinearRegression(normalize=False)
sk_lr.fit(X, y)

LinearRegression()

In [12]:
sk_lr.intercept_

-0.4618107736611847

In [13]:
sk_lr.coef_

array([1.01433536])

In [14]:
sk_lr.predict(X)

array([ 77.64201157,  20.83923168,  21.85356704,  19.82489633,
        36.05426201,  14.75321955,  62.42698124,  95.90004796,
        19.82489633,   4.609866  ,   3.59553065,  18.81056097,
        96.91438332,  62.42698124,  36.05426201,  14.75321955,
        65.46998731,  13.7388842 ,  87.78536512,  69.52732873,
        89.81403583,  51.26929234,  89.81403583,  26.92524381,
        97.92871867,  58.36963982,  79.67068228,  20.83923168,
        93.87137725,  26.92524381,  99.95738938,  30.98258524,
        33.01125595,  80.68501764,  27.93957917,  47.21195092,
        53.29796305,  69.52732873,  27.93957917,  33.01125595,
        91.84270654,  71.55599944,  50.25495698,  76.62767622,
         3.59553065,  37.06859737,  70.54166408,  68.51299337,
        40.11160343,  35.03992666,  94.88571261,  88.79970048,
        52.28362769,  30.98258524,  59.38397518,  -0.46181077,
        39.09726808,  64.45565195,  69.52732873,  57.35530447,
        12.72454884,  72.57033479,  76.62767622,  61.41264589,
        82.71368835,  17.79622562,  41.12593879,  50.25495698,
        55.32663376,  12.72454884,  46.19761556,  12.72454884,
        79.67068228,  53.29796305,  14.75321955,  27.93957917,
        81.69935299,  69.52732873,  52.28362769,  84.74235906,
        68.51299337,  26.92524381,  56.34096911,  48.22628627,
        40.11160343,  39.09726808,  82.71368835, 100.97172474,
        59.38397518,  43.1546095 ,  67.49865802,  38.08293272,
        63.4413166 ,  91.84270654,  60.39831053,  13.7388842 ,
        20.83923168,  87.78536512,  73.58467015,  31.99692059,
         1.56685994,  82.71368835,  18.81056097,  74.59900551,
        42.14027414,  11.71021349,   0.55252458,  90.82837119,
        89.81403583,  -0.46181077,  41.12593879,  15.76755491,
        94.88571261,  97.92871867,  66.48432266,  23.88223775,
        16.78189026,  90.82837119,  12.72454884,  -0.46181077,
        64.45565195,  96.91438332,  98.94305403,  11.71021349,
        41.12593879,  47.21195092,  78.65634693,  19.82489633,
        89.81403583,  28.95391452,  64.45565195,  75.61334086,
        11.71021349,  24.8965731 ,  27.93957917,  29.96824988,
        65.46998731,  59.38397518,  64.45565195,  53.29796305,
        71.55599944,  97.92871867,  73.58467015,   8.66720742,
        11.71021349,  63.4413166 ,  99.95738938,  60.39831053,
        35.03992666,   1.56685994,  60.39831053,  31.99692059,
        94.88571261,  84.74235906,  63.4413166 ,  21.85356704,
        81.69935299,  93.87137725,  33.01125595,   6.63853671,
        42.14027414,  46.19761556,  54.3122984 ,  15.76755491,
        49.24062163,  43.1546095 ,  95.90004796,  66.48432266,
        20.83923168,  35.03992666,  80.68501764,  37.06859737,
        54.3122984 ,  56.34096911,   0.55252458,  31.99692059,
        58.36963982,  31.99692059,  46.19761556,  72.57033479,
        16.78189026,  97.92871867,  93.87137725,  91.84270654,
        37.06859737,   3.59553065,  54.3122984 ,  51.26929234,
        26.92524381,  46.19761556,  92.8570419 ,  73.58467015,
        77.64201157,  91.84270654,  61.41264589,  99.95738938,
         3.59553065,  72.57033479,  18.81056097,  57.35530447,
        78.65634693,  25.91090846,  74.59900551,  90.82837119,
        66.48432266,  12.72454884,  40.11160343,  77.64201157,
        67.49865802,  75.61334086,  22.86790239,  45.18328021,
        59.38397518,  44.16894485,  22.86790239,  55.32663376,
        55.32663376,  95.90004796,  11.71021349,   3.59553065,
         6.63853671, 100.97172474,  48.22628627,  42.14027414,
        96.91438332,  39.09726808, 100.97172474,  87.78536512,
        13.7388842 ,  13.7388842 ,  37.06859737,   4.609866  ,
        88.79970048,  91.84270654,  65.46998731,  74.59900551,
        56.34096911,  15.76755491,   4.609866  ,  27.93957917,
        92.8570419 ,  46.19761556,  54.3122984 ,  39.09726808,
        44.16894485,  30.98258524,  68.51299337,  86.77102977,
        90.82837119,  38.08293272,  20.83923168,  95.90004796,
        56.34096911,  60.39831053,  65.46998731,  78.65634693,
        89.81403583,   5.62420136,  67.49865802,  36.05426201,
        15.76755491, 100.97172474,  45.18328021,  73.58467015,
        57.35530447,  19.82489633,  76.62767622,  34.0255913 ,
        55.32663376,  72.57033479,  55.32663376,   7.65287207,
        56.34096911,  72.57033479,  58.36963982,   5.62420136,
        96.91438332,  22.86790239,  58.36963982,  22.86790239,
        18.81056097,  24.8965731 ,  64.45565195,  20.83923168,
        59.38397518,  18.81056097,  15.76755491,  42.14027414,
        43.1546095 ,  61.41264589,  92.8570419 ,  10.69587813,
        41.12593879,   0.55252458,   7.65287207,  71.55599944,
        46.19761556,  55.32663376,  62.42698124,  47.21195092])

In [15]:
df = pd.read_csv("06_Linear Regression/mlr09.csv")

In [16]:
df.head()

,height_in_feet,weight_in_pounds,successful_field_goals,percent_of_successful_free_throws,average_points_scored
0,6.8,225,0.442,0.672,9.2
1,6.3,180,0.435,0.797,11.7
2,6.4,190,0.456,0.761,15.8
3,6.2,180,0.416,0.651,8.6
4,6.9,205,0.449,0.900,23.2

In [18]:
y = df["average_points_scored"].values

In [20]:
df.iloc[:,:-1]

,height_in_feet,weight_in_pounds,successful_field_goals,percent_of_successful_free_throws
0,6.8,225,0.442,0.672
1,6.3,180,0.435,0.797
2,6.4,190,0.456,0.761
3,6.2,180,0.416,0.651
4,6.9,205,0.449,0.900
5,6.4,225,0.431,0.780
6,6.3,185,0.487,0.771
7,6.8,235,0.469,0.750
8,6.9,235,0.435,0.818
9,6.7,210,0.480,0.825
10,6.9,245,0.516,0.632
11,6.9,245,0.493,0.757
12,6.3,185,0.374,0.709
13,6.1,185,0.424,0.782
14,6.2,180,0.441,0.775
15,6.8,220,0.503,0.880
16,6.5,194,0.503,0.833
17,7.6,225,0.425,0.571
18,6.3,210,0.371,0.816
19,7.1,240,0.504,0.714
20,6.8,225,0.400,0.765
21,7.3,263,0.482,0.655
22,6.4,210,0.475,0.244
23,6.8,235,0.428,0.728
24,7.2,230,0.559,0.721
25,6.4,190,0.441,0.757
26,6.6,220,0.492,0.747
27,6.8,210,0.402,0.739
28,6.1,180,0.415,0.713
29,6.5,235,0.492,0.742
30,6.4,185,0.484,0.861
31,6.0,175,0.387,0.721
32,6.0,192,0.436,0.785
33,7.3,263,0.482,0.655
34,6.1,180,0.340,0.821
35,6.7,240,0.516,0.728
36,6.4,210,0.475,0.846
37,5.8,160,0.412,0.813
38,6.9,230,0.411,0.595
39,7.0,245,0.407,0.573
40,7.3,228,0.445,0.726
41,5.9,155,0.291,0.707
42,6.2,200,0.449,0.804
43,6.8,235,0.546,0.784
44,7.0,235,0.480,0.744
45,5.9,105,0.359,0.839
46,6.1,180,0.528,0.790
47,5.7,185,0.352,0.701
48,7.1,245,0.414,0.778
49,5.8,180,0.425,0.872
50,7.4,240,0.599,0.713
51,6.8,225,0.482,0.701
52,6.8,215,0.457,0.734
53,7.0,230,0.435,0.764

In [21]:
X = df.iloc[:,:-1].values

In [22]:
mu_X = np.mean(X, axis=0)
std_x = np.std(X, axis=0)

rescaled_X = (X-mu_X)/std_x

In [23]:
lr.fit(rescaled_X, y)

[11.79074074 -1.67779283  0.28359762  2.68586629  1.12816882]
-1.6777928325040945

In [24]:
lr.coef

-1.6777928325040945

In [25]:
lr.intercept

11.790740740740738

In [27]:
sk_lr.fit(rescaled_X, y)

LinearRegression()

In [28]:
sk_lr.coef_

array([-1.67779283,  0.28359762,  2.68586629,  1.12816882])